/*! superfly-css-utilities-colors | MIT License | https://github.com/superfly-css/superfly-css-utilities-colors/blob/master/LICENSE.md */


/* =======================================
   COLORS
   0: Import shared color variables
   1: Gray color utilities
   2: Notification background color utilities
   3: Text, background, and border colors
   4: Numeric Triple Hex Color Combinations
   --------------------------------------
   -- Naming Conventions --
   --------------------------------------
   All background color classes start with
   `u-background-color-`.
   --------------------------------------
   All text color classes start with
   `u-text-color-`.
   --------------------------------------
   ======================================= */


/* 0 */

@import "superfly-css-variables-colors";

/* 1 */
@each $weight in 100, 300, 400, 500, 600, 700, 900 {
    :root {
        --u-background-color-gray-$(weight) {
          background-color: var(--color-gray-$(weight)) !important;
        }
    }
    .u-background-color-gray-$(weight) {
        @apply(--u-background-color-gray-$(weight));
    }
}

@each $weight in 100, 300, 400, 500, 600, 700, 900 {
    :root {
      --u-text-color-gray-$(weight) {
          color: var(--color-gray-$(weight)) !important;
      }
    }
    .u-text-color-gray-$(weight) {
        @apply(--u-text-color-gray-$(weight));
    }
}

@each $weight in 100, 300, 400, 500, 600, 700, 900 {
    :root {
      --u-border-color-gray-$(weight) {
          color: var(--color-gray-$(weight)) !important;
      }
    }
    .u-border-color-gray-$(weight) {
        @apply(--u-border-color-gray-$(weight));
    }
}


/* 2 */
@each $weight in 100, 300, 500, 700, 900 {
    @each $brand in primary, success, info, warning, danger {
        :root {
          --u-background-color-$(brand)-$(weight) {
              background-color: var(--color-$(brand)-$(weight)) !important;
          }
        }
        .u-background-color-$(brand)-$(weight) {
            @apply(--u-background-color-$(brand)-$(weight));
        }
    }
}


/* 3 */
@each $color in black, white, tomato, neon-mustard, purple-pink, tomato-red, light-orange-red, orange-red, silver-grey, soft-white, medium-aquamarine {
    :root {
      --u-text-color-$(color) {
          color: var(--color-$(color)) !important;
      }
    }
    .u-text-color-$(color) {
        @apply(--u-text-color-$(color));
    }

    :root {
      --u-background-color-$(color) {
          background-color: var(--color-$(color)) !important;
      }
    }

    .u-background-color-$(color) {
        @apply(--u-background-color-$(color));
    }

    :root {
      --u-border-color-$(color) {
          border-color: var(--color-$(color)) !important;
      }
    }

    .u-border-color-$(color) {
        @apply(--u-border-color-$(color));
    }
}

/* 4 */
@for $a from 0 to 9 {
    @for $b from 0 to 9 {
        @for $c from 0 to 9 {
            :root {
              --u-background-color-$(a)$(b)$(c) {
                  background-color: #$(a)$(b)$(c) !important;
              }
            }
            .u-background-color-$(a)$(b)$(c) {
                @apply(--u-background-color-$(a)$(b)$(c));
            }
        }
    }
}

@for $a from 0 to 9 {
    @for $b from 0 to 9 {
        @for $c from 0 to 9 {
            :root {
              --u-border-color-$(a)$(b)$(c) {
                  border-color: #$(a)$(b)$(c) !important;
              }
            }
            .u-border-color-$(a)$(b)$(c) {
                @apply(--u-border-color-$(a)$(b)$(c));
            }
        }
    }
}

@for $a from 0 to 9 {
    @for $b from 0 to 9 {
        @for $c from 0 to 9 {
            :root {
              --u-text-color-$(a)$(b)$(c) {
                  color: #$(a)$(b)$(c) !important;
              }
            }
            .u-text-color-$(a)$(b)$(c) {
                @apply(--u-text-color-$(a)$(b)$(c));
            }
        }
    }
}
